
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro =/</title>
</head>

<body>
    <div>
        <br />

        <h3>
            Uma exceção ocorreu:
        </h3>

        <br />

        <h4>
            @ViewBag.Erro
        </h4>


        <br />
        Entre em contato com o suporte ^.^
    </div>
</body>
</html>
