
@{
    var Image1Path = "/images/progressBar1.jpg";
    ViewBag.Title = "Home_1";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
@*<img src="@Image1Path" alt="Status3" width="60%" />*@

<div class="progressbar-wrapper">
    <ul class="progressbar">
        <li class="active">Candidatura Realizada</li>
        <li>Candidatura Em Análise</li>
        <li>Candidatura Aprovada</li>
    </ul>
</div>
<br />
<br />
<br />
<br />

<div>
    <h2> Obrigado por se candidatar a vaga de @ViewBag.vaga, Boa Sorte!</h2>
</div>





